<div id="spree-header" style="background-color:#545454;">
  <header id="header" style="height:200px;" data-hook>
    <div class="container">
      <div class="row" style="padding-left:25px;">
        <div class="col-md-4 col-sm-3" data-hook>
        </div>
        <%= render partial: 'spree/shared/nav_bar' %>
      </div>
        <img id="logo" style="height:120px;" src="<%= asset_path 'guitar_center_logo.png' %>">
    </div>
  </header>
  <div class="container">
    <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div>
